AddDefaultCharset utf-8

RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php

php_value date.timezone «Europe/Moscow»


### Запретить всем ботам доступ


# меняем       что             на что                                                                  директивы
#RewriteRule img/img.jpg /Applications/XAMPP/xamppfiles/htdocs/vm_projects/fitspo/template/img/modal.jpg [L,NC]

#RewriteRule img/img.jpg /Applications/XAMPP/xamppfiles/htdocs/vm_projects/fitspo_uploads/1/1.png [L,NC]